{
  "account_id": ACCOUNT_ID,
  "title": "MySQL",
  "icon": "bar-chart",
  "filter": {
    "key_names": ["hostname", "label.env", "label.role", "software.edition", "software.version", "cluster.nodeType"],
    "event_types": ["DatastoreSample"],
    "filter_first": false
    },
  "widgets": [{
    "title": "MySQL Operations Per Second",
    "nrql": "SELECT average(`provider.comInsertPerSecond`) as 'Insert Commands', average(`provider.comSelectPerSecond`) as 'Select Commands', average(`provider.comUpdatePerSecond`) as 'Update Comands', average(`provider.comDeletePerSecond`) as 'Delete Commands' FROM DatastoreSample WHERE provider = 'MySQL' TIMESERIES until 1 minutes ago",
    "process_as": "line_chart",
    "width": 1,
    "height": 1,
    "row": 1,
    "column": 1,
    "event_types": ["DatastoreSample"],
    "facet": null,
    "customizations": null,
    "notes": null
  }, {
    "title": "Queries Executed Per Second",
    "nrql": "SELECT average(`provider.queriesPerSecond`) as 'Queries' FROM DatastoreSample WHERE provider = 'MySQL' TIMESERIES until 1 minutes ago",
    "process_as": "line_chart",
    "width": 1,
    "height": 1,
    "row": 1,
    "column": 2,
    "event_types": ["DatastoreSample"],
    "facet": null,
    "customizations": null,
    "notes": null
  }, {
    "title": "MySQL",
    "nrql": null,
    "width": 1,
    "height": 1,
    "row": 1,
    "column": 3,
    "notes": null,
    "event_types": null,
    "facet": null,
    "agent_ids": null,
    "duration": null,
    "metrics": null,
    "raw_metric_name": null,
    "end_time": null,
    "source_account_id": null,
    "customizations": {
      "markdown": "::: beyond\n **MySQL** \n\nMySQL is the world's most popular open source database. With its proven performance, reliability, and ease-of-use, MySQL has become the leading database choice for web-based applications.\n\n___\n\n ![](https://integrations.nr-assets.net/icons/dashboards.png) [View all integration dashboards](/accounts/ACCOUNT_ID/dashboards?filter=infrastructurepro@newrelic.com)\n:::"
    }
  }, {
    "title": "Active Connections",
    "nrql": "SELECT average(`provider.threadsConnected`) as 'Active Connections' FROM DatastoreSample WHERE provider = 'MySQL' TIMESERIES until 1 minutes ago",
    "process_as": "line_chart",
    "width": 1,
    "height": 1,
    "row": 2,
    "column": 1,
    "event_types": ["DatastoreSample"],
    "facet": null,
    "customizations": null,
    "notes": null
  }, {
    "title": "",
    "nrql": "SELECT max(`provider.maxConnections`) as 'Max Connections' FROM DatastoreSample WHERE provider = 'MySQL' SINCE 1 day ago",
    "process_as": "billboard",
    "width": 1,
    "height": 1,
    "row": 2,
    "column": 2,
    "event_types": ["DatastoreSample"],
    "facet": null,
    "customizations": {},
    "notes": null
  }, {
    "title": "Received vs Sent Bytes Per Second",
    "nrql": "SELECT average(`provider.bytesReceivedPerSecond`) as 'Bytes Received', average(`provider.bytesSentPerSecond`) as 'Bytes Sent' FROM DatastoreSample WHERE provider = 'MySQL' TIMESERIES until 1 minutes ago",
    "process_as": "line_chart",
    "width": 1,
    "height": 1,
    "row": 2,
    "column": 3,
    "event_types": ["DatastoreSample"],
    "facet": null,
    "customizations": null,
    "notes": null
  },
  {
    "title": "Refused Connections Per Second",
    "nrql": "SELECT average(`provider.connectionErrorsMaxConnectionsPerSecond`) as 'Refused Connections' FROM DatastoreSample WHERE provider = 'MySQL' TIMESERIES until 1 minutes ago",
    "process_as": "line_chart",
    "width": 1,
    "height": 1,
    "row": 3,
    "column": 1,
    "event_types": ["DatastoreSample"],
    "facet": null,
    "customizations": null,
    "notes": null
  }, {
    "title": "Slow Queries Per Second",
    "nrql": "SELECT average(`provider.slowQueriesPerSecond`) as 'Slow Queries' FROM DatastoreSample WHERE provider = 'MySQL' TIMESERIES until 1 minutes ago",
    "process_as": "line_chart",
    "width": 1,
    "height": 1,
    "row": 3,
    "column": 2,
    "event_types": ["DatastoreSample"],
    "facet": null,
    "customizations": null,
    "notes": null
  }, {
    "title": "Free Query Cache Memory (bytes)",
    "nrql": "SELECT average(`provider.qCacheFreeMemory`) as 'Free Query Cache Memory' FROM DatastoreSample WHERE provider = 'MySQL' TIMESERIES until 1 minutes ago",
    "process_as": "line_chart",
    "width": 1,
    "height": 1,
    "row": 3,
    "column": 3,
    "event_types": ["DatastoreSample"],
    "facet": null,
    "customizations": null,
    "notes": null
  }, {
    "title": "Query Cache Hit Ratio",
    "nrql": "SELECT average(`provider.qCacheHitRatio`) as 'Queue Cache Hit Ratio' FROM DatastoreSample WHERE provider = 'MySQL' TIMESERIES until 1 minutes ago",
    "process_as": "line_chart",
    "width": 1,
    "height": 1,
    "row": 4,
    "column": 1,
    "event_types": ["DatastoreSample"],
    "facet": null,
    "customizations": null,
    "notes": null
  }, {
    "title": "Query Cache Utilization",
    "nrql": "SELECT average(`provider.qCacheUtilization`) as 'Queue Cache Utilization' FROM DatastoreSample WHERE provider = 'MySQL' TIMESERIES until 1 minutes ago",
    "process_as": "line_chart",
    "width": 1,
    "height": 1,
    "row": 4,
    "column": 2,
    "event_types": ["DatastoreSample"],
    "facet": null,
    "customizations": null,
    "notes": null
  }, {
    "title": "Read vs Write InnoDB Data Per Second",
    "nrql": "SELECT average(`provider.innodbDataReadPerSecond`) as 'Read InnoDB Data', average(`provider.innodbDataWrittenPerSecond`) as 'Write InnoDB Data' FROM DatastoreSample WHERE provider = 'MySQL' TIMESERIES until 1 minutes ago",
    "process_as": "line_chart",
    "width": 1,
    "height": 1,
    "row": 4,
    "column": 3,
    "event_types": ["DatastoreSample"],
    "facet": null,
    "customizations": null,
    "notes": null
  }, {
    "title": "InnoDB Buffer Pool Pages Free vs Total",
    "nrql": "SELECT average(`provider.innodbBufferPoolPagesFree`) as 'InnoDB Buffer Pool Pages Free', average(`provider.innodbBufferPoolPagesTotal`) as 'InnoDB Buffer Pool Pages Total' FROM DatastoreSample WHERE provider = 'MySQL' TIMESERIES until 1 minutes ago",
    "process_as": "line_chart",
    "width": 1,
    "height": 1,
    "row": 5,
    "column": 1,
    "event_types": ["DatastoreSample"],
    "facet": null,
    "customizations": null,
    "notes": null
  }]
}
